<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Add Note </title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<style>
* {
  margin: 10px;
}
#content {
  text-align: center;
}
    </style>
  </head>

  <body>

  <ul>
    <li><a href="list_notes">List Notes</a></li>
  </ul>
  <div class="clean"></div>
  <hr>

  <div id="content">
    <h1>Add Note</h1>
  	<form action="add_note" method="post">
      Title:
      <input class="title" type="text" name="title" size="30"> <br>
      Task<br>
      <textarea rows="20" cols="80" name="task" class="task"></textarea> <br>
      <span font-size:30px>Priority</span>
        <select name="priority" style="font-size:20px;background-color:#b2dcf5;color:white;">
          <option value="P1">P1</option>
          <option value="P2">P2</option>
          <option value="P3">P3</option>
          <option value="P4" selected>P4</option>
        </select> <br>
        {% if parent_note_id %}
        Parent note id: <input type="text" name="parent_note_id" value="{{ parent_note_id }}" readonly>
        {% endif %}
        <br>
        <input type="submit" value="Submit" class="submit">
    </form>
  </div>

  </body>
</html>
