<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Add Note </title>
  </head>

  <body>

  <div class="content">
  
    <p> Add Note: </p>
  	<form action="/add_note" method="post">
    	Title: <input type="text" name="title"> <br>
        Task: <textarea rows="4" cols="50" name="task"> </textarea> <br>
        Priority: <input type="text" name="priority" value="p4"> <br>
        Parent note id: <input type="text" name="parent_note_id" value="{{ parent_note_id }}"> <br>
        <input type="submit" value="Submit">
    </form>

  </div>


  </body>
</html>