<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Change Note </title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type=>
<style>
* {
  margin: 10px;
}
#content {
  text-align: center;
}
    </style>
  </head>

  <body>
  <div id="content">
  <ul>
    <li><span class="li_menu">Change Note</span></li>
    <li><a href="dump_note?note_id={{ note_id }}">Dump Note</a></li>
    <li><a href="list_notes">List Notes</a></li>
    <li><a href="add_note_form">Add Note</a></li>
  </ul>
  <div class="clean"></div>
  <hr>
  

  </div>
    <div id="app"></div>

  <script type="text/javascript" src="{{ js_path }}"></script>
  
  </body>
</html>
