<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Change Note </title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<style>
* {
  margin: 10px;
}
#content {
  text-align: center;
}
    </style>
  </head>

  <body>
  <div id="content">
  <ul>
    <li><span class="li_menu">Change Note</span></li>
    <li><a href="dump_note?note_id={{ note_id }}">Dump Note</a></li>
    <li><a href="list_notes">List Notes</a></li>
    <li><a href="add_note_form">Add Note</a></li>
  </ul>
  <div class="clean"></div>
  <hr>
  	<form action="change_note?note_id={{ note_id }}" method="post">
      <table>
        <tr>
          <td>Title</td>
          <td><input class="title" type="text" name="title" size="30" value="{{ title }}"></td>
        </tr>
        <tr>
          <td>Task</td>
          <td><textarea rows="20" cols="60" name="task" class="task">{{ task }}</textarea></td>
        </tr>
        <tr>
          <td>Tag</td>
          <td><input class="title" type="text" name="tag" size="30" value="{{ tag }}"></td>
        </tr>
        <tr>
          <td>State</td>
          <td>
        <select name="state">
          {% if priority == "TODO" %}
          <option value="TODO" selected>TODO</option>
          {% else %}
          <option value="TODO">TODO</option>
          {% endif %}

          {% if priority == "DONE" %}
          <option value="DONE" selected>DONE</option>
          {% else %}
          <option value="DONE">DONE</option>
          {% endif %}
        </select>
          </td>
        </tr>
        <tr>
          <td>Priority</td>
          <td>
        <select name="priority">
          {% if priority == "P1" %}
          <option value="P1" selected>P1</option>
          {% else %}
          <option value="P1">P1</option>
          {% endif %}

          {% if priority == "P2" %}
          <option value="P2" selected>P2</option>
          {% else %}
          <option value="P2">P2</option>
          {% endif %}

          {% if priority == "P3" %}
          <option value="P3" selected>P3</option>
          {% else %}
          <option value="P3">P3</option>
          {% endif %}

          {% if priority == "P4" %}
          <option value="P4" selected>P4</option>
          {% else %}
          <option value="P4">P4</option>
          {% endif %}
        </select>
          </td>
        </tr>
        {% if parent_note_id %}
        <tr>
          <td>Parent</td>
          <td><input type="text" name="parent_note_id" value="{{ parent_note_id }}" readonly></td>
        </tr>
        {% endif %}
        <tr>
          <td colspan="2">
        <input type="submit" value="Submit" class="submit">
          </td>
        </tr>
      </table>
    </form>
  </div>

  </body>
</html>
