<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Change Note </title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<style>
* {
  margin: 10px;
}
#content {
  text-align: center;
}
    </style>
  </head>

  <body>
  <div id="content">
  <ul>
    <li><a href="/list_notes">List Notes</a></li>
    <li><a href="/add_note_form">Add Note</a></li>
  </ul>
  <div class="clean"></div>
  <hr>
    <h1>Change Note</h1>
  	<form action="/change_note?note_id={{ note_id }}" method="post">
      Title:
      <input class="title" type="text" name="title" value="{{ title }}" size="30"> <br>
      Task<br>
      <textarea rows="20" cols="80" name="task" class="task">{{ task }}</textarea> <br>
      <span font-size:30px>State</span>
        <select name="state">
          {% if priority == "TODO" %}
          <option value="TODO" selected>TODO</option>
          {% else %}
          <option value="TODO">TODO</option>
          {% endif %}

          {% if priority == "DONE" %}
          <option value="DONE" selected>DONE</option>
          {% else %}
          <option value="DONE">DONE</option>
          {% endif %}

        </select> <br>
      <span font-size:30px>Priority</span>
        <select name="priority">
          {% if priority == "P1" %}
          <option value="P1" selected>P1</option>
          {% else %}
          <option value="P1">P1</option>
          {% endif %}

          {% if priority == "P2" %}
          <option value="P2" selected>P2</option>
          {% else %}
          <option value="P2">P2</option>
          {% endif %}

          {% if priority == "P3" %}
          <option value="P3" selected>P3</option>
          {% else %}
          <option value="P3">P3</option>
          {% endif %}

          {% if priority == "P4" %}
          <option value="P4" selected>P4</option>
          {% else %}
          <option value="P4">P4</option>
          {% endif %}
        </select> <br>
        {% if parent_note_id %}
        Parent note id: <input type="text" name="parent_note_id" value="{{ parent_note_id }}" readonly>
        {% endif %}
        <br>
        <input type="submit" value="Submit" class="submit">
    </form>
  </div>

  </body>
</html>
