<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Add Note </title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<style>
</style>
  </head>

  <body>

  <ul>
    <li><a href="add_note_form">Add Note</a></li>
  </ul>
  <div class="clean"></div>
  <hr>

  <div class="content">

  	{% for note in note_values %}
    <table width="80%" align="left">
      <tr>
        <td>Date</td>
        <td>{{ note['date_time'] }}</td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{ note['state'] }}</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>{{ note['priority'] }}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td class="title" style="text-align:left">{{ note['title'] }}</td>
      </tr>
      <tr>
        <td>Task</td>
        <td><pre class="task">{{ note['task'] }}</pre></td>
      </tr>
      {% if note['parent'] %}
      <tr>
        <td>Parent</td>
        <td><a href="dump_note?note_id={{note['parent'].note_id}}">{{ note['parent'].title }}</a></td>
      </tr>
      {% endif %}
      <tr>
      <td colspan="2">
        <a href="dump_note?note_id={{note['note_id']}}">Dump Note</a>
        <a href="change_note_form?note_id={{note['note_id']}}">Change Note</a>
        <a href="add_note_form?parent_note_id={{note['note_id']}}">Add Sub Note</a>
        <a href="delete_note?note_id={{note['note_id']}}">Delete Note</a>
      </td>
      </tr>
    </table>
    <br>
    {% endfor %}

  </div>

  </body>
</html>
