<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Add Note </title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<style>
</style>
  </head>

  <body>

  <ul>
    <li><span class="li_menu">List Notes</span></li>
    <li><a href="add_note_form">Add Note</a></li>
    <li><a href="backup_note">Backup Notes</a></li>
    <li><a href="restore_note_form">Restore Notes</a></li>
    {% if is_admin %}
    <li><a href="backup_note?backup_all=True">Backup All Notes</a></li>
    <li><a href="restore_note_form?restore_all=True">Restore All Notes</a></li>
    {% endif %}
    <li><a href="transfer_file">Transfer File</a></li>
  </ul>
  <div class="clean"></div>
  <hr>

  <div class="content">
    <ul style="font-size:15px;">
      {% if need_tag == 'ALL' %}
      <li><span class="li_menu">All tags</span></li>
      {% else %}
      <li><a href="list_notes">All tags</a></li>
      {% endif %}
    {% for tag in tag_values %}
      {% if need_tag == tag %}
      <li><span class="li_menu">{{ tag }}</span></li>
      {% else %}
      <li><a href="list_notes?tag={{ tag }}">{{ tag }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <hr>

  	{% for note in note_values %}
    <table width="80%" align="left">
      <tr>
        <td>Date</td>
        <td>{{ note['date_time'] }}</td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{ note['state'] }}</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>{{ note['priority'] }}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td class="title" style="text-align:left">{{ note['title'] }}</td>
      </tr>
      <tr>
        <td>Task</td>
        <td><pre class="task">{{ note['task'] }}</pre></td>
      </tr>
      {% if note['tag'] %}
      <tr>
        <td>Tag</td>
        <td>{{ note['tag'] }}</td>
      </tr>
      {% endif %}
      {% if note['parent'] %}
      <tr>
        <td>Parent</td>
        <td><a href="dump_note?note_id={{note['parent'].note_id}}">{{ note['parent'].title }}</a></td>
      </tr>
      {% endif %}
      {% if note['children'] %}
      <tr>
        <td>Children</td>
        <td>
          {% for child in note['children'] %}
            <a href="dump_note?note_id={{child.note_id}}">{{ child.title }}</a>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      <tr>
      <td colspan="2">
        <a href="change_note_form?note_id={{note['note_id']}}">Change Note</a>
        <a href="add_note_form?parent_note_id={{note['note_id']}}">Add Sub Note</a>
        <a href="delete_note?note_id={{note['note_id']}}">Delete Note</a>
      </td>
      </tr>
    </table>
    <br>
    {% endfor %}

  </div>

  </body>
</html>
