<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title> Add Note </title>
  </head>

  <body>

  <div class="content">
  
  	{% for note in note_values %}
    <p> Dump Note: </p>
    <p> Note id: {{ note['note_id'] }} </p>
    <p> Date: {{ note['date_time'] }} </p>
    <p> User id: {{ note['user_id'] }}, email: {{ note['user_email'] }} </p>
    <p> State: {{ note['state'] }} </p>
    <p> Priority: {{ note['priority'] }} </p>
    <p> Title: {{ note['title'] }} </p>
    <p> Task: {{ note['task'] }} </p>
    <p> <a href="/change_note_form?note_id={{note['note_id']}}"> Change Note </a> </p>
    {% endfor %}
    <p><a href="/add_note_form">Add Note </a> </p>

  </div>


  </body>
</html>